@charset "UTF-8";
 body{
        background-color:#f9fbfe;
        }
        .img-thumbnail {
            width: 100px; 
            height: 100px; 
            object-fit: cover; 
            border: none; 
        }
        .table th {
            background-color: #003366; 
            color: white;
            text-align: center; 
            vertical-align: middle; 
        }
        .table td {
            text-align: center; 
            vertical-align: middle; 
        }
        .action-btn {
            width: 35px; 
            height: 35px;
            cursor: pointer; 
            border: none; 
        }
        .action-btn2 {
            width: 35px; 
            height: 35px;
            cursor: pointer;  
            border-radius:20%;
        }
        .action-btn:hover {
            opacity: 0.8; 
        }
        .action-btn2:hover {
            opacity: 0.8; 
        }
        .footer {
            background-color: #003366;
            color: white;
            text-align: center;
            padding: 10px;
            margin-top: 20px;
        }
        .btn btn-outline-light:hover{
            color:#f5faff;
        }
        .navbar-brand{
          font-size:1.5rem;
          margin-left:30px;
        }
        #name:hover{
           color:#00aaff;
        }