@charset "UTF-8";
body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: linear-gradient(90deg, rgba(255,0,0,0.2), rgba(255,165,0,0.2), rgba(255,255,0,0.2), rgba(0,128,0,0.2), rgba(0,0,255,0.2), rgba(75,0,130,0.2), rgba(238,130,238,0.2));
            background-size: 400% 400%;
            animation: gradient-animation 15s ease infinite;
        }

        @keyframes gradient-animation {
            0% { background-position: 0% 50%; }
            50% { background-position: 100% 50%; }
            100% { background-position: 0% 50%; }
        }

        .container {
            background-color: white;
            padding: 30px;
            max-width: 600px;
            width: 100%;
            box-shadow: 0 4px 10px rgba(0,0,0,0.1);
            border-radius: 8px;
            text-align: center;
        }

        .candidate-details img {
            max-width: 120px;
            height: auto;
            margin-top: 10px;
        }

        .candidate-details h1 {
            margin: 0 0 15px;
            font-size: 28px;
            color: #333;
        }

        .candidate-details p {
            font-size: 18px;
            color: #555;
            margin: 10px 0;
        }
        

        a {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #007BFF;
            color: white;
            text-decoration: none;
            border-radius: 5px;
        }

        a:hover {
            background-color: #0056b3;
        }